<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <title>Serhii Polishchuk | Software Engineer</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal website of computer engineer Serhii Polishchuk">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <script src="/js/script.js" defer></script>
</head>
<body class="bg-slate-100 text-zinc-800 bg-[url('/images/background.png')]">
<div class="container bg-white min-h-screen">
    {{ $t := "Jan 02, 2006 3:04 PM Z07:00" }}

    <header class="flex justify-between bg-zinc-700 text-white px-4 font-sans py-2 sm:py-0 relative">
        <a href="/" class="flex items-center justify-center space-x-2 hover:no-underline text-white hover:text-white">
            <picture>
                <source type="image/avif" srcset="/images/header-ava.avif">
                <source type="image/webp" srcset="/images/header-ava.webp">
                <img class="rounded-full" alt="Serhii Polishchuk profile picture" src="/images/header-ava.jpg" width="32px" height="32px">
            </picture>
            <span class="text-xl">Serhii Polishchuk</span>
        </a>
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </header>

    <main class="px-4 py-5">
        {{ block "main" . }}{{ end }}
    </main>


</div>
<footer class="py-3 bg-stone-100 font-sans">
    <div class="container px-4">
        Copyright © 2010 - {{ now.Year }} Serhii Polishchuk
    </div>
</footer>
</body>
</html>
