<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <title>Serhii Polishchuk | Software Engineer</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!--  <link rel="canonical" href="{{ .Permalink }}">-->
    <link rel="canonical" href="https://kotoblog.pp.ua/{{ strings.TrimPrefix .Site.BaseURL .Permalink }}">

    <meta name="author" content="Serhii Polishchuk">
    <meta name="keywords" content="Serhii Polishchuk, computer engineer, software engineer, software developer, web developer, web designer, web programmer, programming, programming language, programming languages, web, web development, web design, web programming, web programming languages, web development languages, web design languages, JavaScript, PHP, Go, Golang, Vue, Vue.js, VueJS, Laravel, Lumen, Symfony, Yii, Yii2, Yii3, Yii4, CodeIgniter, Frontend, Front-end, Frontend development, Front-end development, Backend, Back-end, Backend development, Back-end development, Fullstack, Full-stack, Fullstack development, Full-stack development, Full stack, Full-stack, Full stack development, Full-stack development, Fullstack developer, Full-stack developer, Full stack developer, Full-stack developer, Fullstack development, Full-stack development, Full stack development, Full-stack development">
    <meta name="date" content="{{ .Date.Format $t }}">
    <meta name="lastmod" content="{{ .Lastmod.Format $t }}">
    <meta name="url" content="{{ .Permalink }}">
    <meta name="og:title" content="Serhii Polishchuk | Software Engineer">
    <meta name="og:site_name" content="Serhii Polishchuk">
    <meta name="og:url" content="{{ .Permalink }}">
    <meta name="og:description" content="Personal website of computer engineer Serhii Polishchuk">
    <meta name="og:type" content="website">
    <meta name="og:image" content="https://kotoblog.pp.ua/images/header-ava.jpg">
    <meta name="og:image:alt" content="Serhii Polishchuk profile picture">
    <meta name="og:locale" content="en_US">
    <meta name="og:locale:alternate" content="uk_UA">
    <meta name="og:locale:alternate" content="ru_RU">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@kot_ua">
    <meta name="twitter:creator" content="@kot_ua">
    <meta name="twitter:title" content="Serhii Polishchuk | Software Engineer">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal website of computer engineer Serhii Polishchuk">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <script src="/js/script.js" defer></script>
</head>
<body class="bg-slate-100 text-zinc-800 bg-[url('/images/background.png')]">
<div class="container bg-white min-h-screen">
    {{ $t := "Jan 02, 2006 3:04 PM Z07:00" }}

    <header class="flex justify-between bg-zinc-700 text-white px-4 font-sans py-2 sm:py-0 relative">
        <a href="/" class="flex items-center justify-center space-x-2 hover:no-underline text-white hover:text-white">
            <picture>
                <source type="image/avif" srcset="/images/header-ava.avif">
                <source type="image/webp" srcset="/images/header-ava.webp">
                <img class="rounded-full" alt="Serhii Polishchuk profile picture" src="/images/header-ava.jpg" width="32px" height="32px">
            </picture>
            <span class="text-xl">Serhii Polishchuk</span>
        </a>
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </header>

    <main class="px-4 py-5">
        {{ block "main" . }}{{ end }}
    </main>


</div>
<footer class="py-3 bg-stone-100 font-sans">
    <div class="container px-4">
        Copyright © 2010 - {{ now.Year }} Serhii Polishchuk
    </div>
</footer>
</body>
</html>
