{{ define "main" }}
    <article>
        <h1>{{ .Title }}</h1>
        <div class="flex justify-between mb-5">
            <div class="flex space-x-2 justify-center items-center">
                <svg class="octicon octicon-calendar" viewBox="0 0 14 16" version="1.1" width="14" height="16"
                     aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M13 2h-1v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H6v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H2c-.55 0-1 .45-1 1v11c0 .55.45 1 1 1h11c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm0 12H2V5h11v9zM5 3H4V1h1v2zm6 0h-1V1h1v2zM6 7H5V6h1v1zm2 0H7V6h1v1zm2 0H9V6h1v1zm2 0h-1V6h1v1zM4 9H3V8h1v1zm2 0H5V8h1v1zm2 0H7V8h1v1zm2 0H9V8h1v1zm2 0h-1V8h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1zm2 0h-1v-1h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1z"></path>
                </svg>
                <div>{{ .Date.Format "Jan 02, 2006" }}</div>
            </div>
            <ul class="flex space-x-2 list-none">
                {{ range .Params.tags }}
                    <li>
                        <a class="link flex space-x-1 justify-center items-center"
                           href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">
                            <svg class="octicon octicon-tag" viewBox="0 0 14 16" version="1.1" width="14" height="16"
                                 aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M7.73 1.73C7.26 1.26 6.62 1 5.96 1H3.5C2.13 1 1 2.13 1 3.5v2.47c0 .66.27 1.3.73 1.77l6.06 6.06c.39.39 1.02.39 1.41 0l4.59-4.59a.996.996 0 0 0 0-1.41L7.73 1.73zM2.38 7.09c-.31-.3-.47-.7-.47-1.13V3.5c0-.88.72-1.59 1.59-1.59h2.47c.42 0 .83.16 1.13.47l6.14 6.13-4.73 4.73-6.13-6.15zM3.01 3h2v2H3V3h.01z"></path>
                            </svg>
                            <span>{{ . }}</span></a>
                    </li>
                {{ end }}
            </ul>
        </div>
        {{.Content}}
        {{ if .Params.materials }}
            <h2>Materials</h2>
            <ul>
                {{ range .Params.materials }}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>
        {{ end }}
    </article>
{{ end }}
